<div class="col">
    <mat-card class="product-card mat-elevation-z4">
        <img mat-card-image src="{{ product.productImgURL }}" alt="{{ product.productName }}">
        <mat-card-header>
            <mat-card-title>{{ product.productName }}</mat-card-title>
            <mat-card-subtitle>Price: {{ product.productPrice | currency }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
            <div class="text-center">
                <button *ngIf="!showAddToCart" class="btn btn-outline-danger" (click)="showAddToCart = !showAddToCart">
                    Add to Cart <i class="fa-solid fa-cart-plus"></i>
                </button>
                <ng-container *ngIf="showAddToCart">
                    <div class="row justify-content-center pb-2">
                        <div class="col col-lg-2">
                            <button class="btn btn-outline-danger" (click)="quantityRemove()">
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                        </div>
                        <div class="col-md-auto mt-1">
                            {{ quantity }}
                        </div>
                        <div class="col col-lg-2">
                            <button class="btn btn-outline-danger" (click)="quantityAdd()">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <button class="btn btn-outline-secondary mx-3" (click)="closeAddToCart()">
                        <i class="fa-solid fa-xmark"></i> Canel
                    </button>
                    <button class="btn btn-outline-danger px-4" (click)="addToCart()">
                        Add <i class="fa-solid fa-cart-plus"></i>
                    </button>
                </ng-container>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
